MainWindowTopToolbar {
    spacing: 2px;
    border-top: 0;
    border-bottom: 1px solid #575757;
    padding: 4px;
    background-color: #373737;
}

QToolButton {
    border-radius: 3px;
    padding: 2px 4px;
    border: 0;
}

QToolButton[popupMode="1"] {
    padding-right: 24px;
}
