IDEMainWindow {
    background-color: #459ADF;
}

QDockWidget {
    background-color: #3576AB;
    color: #FFF;
}

QDockWidget::title {
    background-color: #915F10;
}

MainWindowTopToolbar {
    border-top: 0;
    border-bottom: 1px solid #2C8DE0;
    background-color: #90B9DE;
    padding: 2px;
}

QStatusBar {
    background-color: #DB555E;
    color: #FFF;
    border-top: 0px solid #8F3F41;
}

QStatusBar QLabel {
    color: #FFF;
}

QTabWidget::pane {
    border: 0;
    background: #69BBFF;
}

QTabBar::tab {
    padding: 4px 12px 4px 12px;
    background-color: #1F5E91;
    margin-right: 4px;
    color: #FFF;
}

QTabBar::tab:selected {
    background-color: #69BBFF;
    color: #000;
}